{% extends "user/dashboard.html" %}

{% block styles %}
    {{ super() }}
    {% asset 'fedorkg/custom-css' %}
{% endblock %}

{% macro row_type(notification_type) %}
    {% if notification_type | lower == 'success' %}
        {{ 'row_success' }}
    {% elif notification_type | lower == 'error' %}
        {{ 'row_danger' }}
    {% else %}
        {{ 'row_notice' }}
    {% endif %}
{% endmacro %}

{% block primary_content_inner %}
    <h2 class="hide-heading">{% trans %}FedORKG News{% endtrans %}</h2>
    <p class="empty">
        {% if fedorkg_news %}
            <table class="table table-header table-hover table-bordered" id="fedorkg_news">
                <thead>
                    <tr>
                        <th>{% trans %}Knowledge Graph{% endtrans %}</th>
                        <th>{% trans %}Message{% endtrans %}</th>
                        <th>{% trans %}Date{% endtrans %}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for news in fedorkg_news %}
                        <tr class="{{ row_type(news.notification_type) | trim }}">
                            <td>{{ news.endpoint_url }}</td>
                            <td>{{ news.message }}</td>
                            <td>{{ news.date }}</td>
                            <td class="center">
                                <form method="POST" action="{{ h.url_for('dashboard.news') }}">
                                    <input type="hidden" name="news_id" value="{{ news.identifier }}">
                                    <button class="btn btn-danger btn-sm" title="{% trans %}Remove this news entry{% endtrans %}">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            {% trans %}There are currently no news about added or deleted endpoints.{% endtrans %}
            {% trans %}If you add or delete endpoints to FedORKG, the result of the background tasks will show up here.{% endtrans %}
        {% endif %}
    </p>
{% endblock %}
