{% extends "admin/base.html" %}

{% block primary_content_inner %}
    {% asset 'fedorkg/admin' %}
    <h2>{% trans %}Knowledge Graphs in the Federation{% endtrans %}</h2>

    {% if msg %}
        <div class="ui-state {% if error %}ui-state-error{% else %}ui-state-success{% endif %}">
            {{ msg }}
        </div>
    {% endif %}

    <table class="table table-header table-hover table-bordered">
        <thead>
            <tr>
                <th>{% trans %}Knowledge Graph{% endtrans %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for kg in kgs %}
                <tr>
                    <td>{{ kg }}</td>
                    <td class="center">
                        <form method="POST" action="{{ h.url_for('fedorkg_admin.admin') }}">
                            <input type="hidden" name="kg" value="{{ kg }}">
                            <input type="hidden" name="action" value="0">
                            <button class="btn btn-danger btn-sm" title="{% trans %}Remove knowledge graph from the federation{% endtrans %}">
                                <i class="fa fa-trash"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <form method="POST" action="{{ h.url_for('fedorkg_admin.admin') }}">
                    <input type="hidden" name="action" value="1">
                    <td>
                        <input class="input-url" type="text" name="kg" placeholder="URL of the SPARQL endpoint" size="60" required>
                    </td>
                    <td class="center">
                        <button class="btn btn-success btn-sm" title="{% trans %}Add knowledge graph to the federation{% endtrans %}">
                                <i class="fa fa-plus"></i>
                        </button>
                    </td>
                </form>
            </tr>
        </tbody>
    </table>
{% endblock %}

{% block secondary_content %}
    <div class="module module-narrow module-shallow">
        <h2 class="module-heading">
            <i class="fa fa-info-circle"></i>
            FedORKG
        </h2>
        <div class="module-content">
            <p>{% trans %}
                Manage the knowledge graphs that are included in the federation of FedORKG.
                Only included knowledge graphs can be queried.
            {% endtrans %}</p>
        </div>
    </div>
{% endblock %}
