{% extends "admin/base.html" %}

{% block primary_content_inner %}
    <h2>{% trans %}Knowledge Graphs in the Federation{% endtrans %}</h2>

    <table class="table table-header table-hover table-bordered">
        <thead>
            <tr>
                <th>{% trans %}Knowledge Graph{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% for kg in kgs %}
                <tr>
                    <td>{{ kg }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block secondary_content %}
    <div class="module module-narrow module-shallow">
        <h2 class="module-heading">
            <i class="fa fa-info-circle"></i>
            FedORKG
        </h2>
        <div class="module-content">
            <p>{% trans %}
                Manage the knowledge graphs that are included in the federation of FedORKG.
                Only included knowledge graphs can be queried.
            {% endtrans %}</p>
        </div>
    </div>
{% endblock %}
