{% extends "page.html" %}

{% block breadcrumb_content %}
    <li class="active"><a href="{{ h.url_for('fedorkg.query_editor') }}">FedORKG</a></li>
{% endblock %}

{% block secondary %}{% endblock %}

{% block primary_content %}
    {% asset 'fedorkg/query' %}
    <div class="mt-4 mx-2">
        You can use the SPARQL query editor below to run SPARQL queries over a federation of open research knowledge graphs.
        <div class="mt-2" id="yasgui"></div>
    </div>
{% endblock %}
