{% extends "page.html" %}

{% block breadcrumb_content %}
    <li class="active"><a href="/fedorkg/sparql">FedORKG</a></li>
{% endblock %}

{% block secondary %}{% endblock %}

{% block primary_content %}
    <div class="mt-2">Hello, this is FedORKG!</div>
{% endblock %}
