.yasgui .autocompleteWrapper,
.yasgui .controlbar,
.yasqe .yasqe_buttons .yasqe_share {
  display: none !important;
}

.main .primary {
  min-height: 800px;
  width: 100%;
}

.mx-2 {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}

.ms-2 {
  margin-left: 0.5rem !important;
}

.mt-2 {
  margin-top: 0.5rem !important;
}

.mt-4 {
  margin-top: 1.5rem !important;
}